{% extends "base.html.twig" %}
{% block srtylesheets %}
    
{% endblock %}
{% block title %}Détails de
    {{ products.name }}
{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>{{ products.name }}</h1>
            </div>
            <div class="col-6">                          
                <img src="{{ asset('assets/images/products/'  ~ products.image.name ) }}" style="max-height: 450px; min-height: 350px;" class=" image-height"  alt="">
            </div>
            <div class="col-6">
                <h2>Description</h2>
                <p class="">{{ products.description }}</p>
                <p>Catégorie : {{ products.categories.name }}</p>
                <p>Prix : {{ products.prix / 100 }} €</p>
                {% if products.stock > 0 %}
                    <a href="{{ path('cart_add', {id: products.id}) }}" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}