{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.prix) }}
{{ form_row(form.stock) }}
{{ form_row(form.imageFile) }}
{# on affiche les images si on est en edition #}

{# {% if app.request.attributes.get('_route') == 'admin_products_edit' %}
        <h2>Images</h2>
        {% for image in product.images %}
            <div>
                <img src="{{ asset('assets/uploadsproducts/mini/300x300-' ~ image.name ) }}" alt="Image" width="150">
                <a href="{{ path('admin_products_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %} #}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>

{{ form_end(form) }}