{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.prix) }}
{{ form_row(form.stock) }}
{{ form_row(form.images) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>

{{ form_end(form) }}