{% extends "base.html.twig" %}

{% block title %}
    Liste des categories
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            
            <main class="col-9 border border-light bg-white p-2">
                <h1>Liste des produits</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Photo</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Stock</th>
                            <th>Categorie</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td> {{product.id}} </td>
                                <td>    <img src="{{ asset('assets/images/products/' ~ product.image.name) }}" alt="Image de {{ product.name }}" width="150" height="auto" /></td>
                                <td> {{product.name}} </td>
                                <td> {{product.prix}} </td>
                                <td> {{product.stock}} </td>
                                <td> {{product.categories.name}} </td>
                                <td>
                                    <a href="{{path('admin_products_edit', {'id': product.id})}}" class="btn btn-primary">Modifier</a>
                                    <a href="{{path('admin_products_delete', {'id': product.id})}}" class="btn btn-danger mt-1">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
{% endblock %}