{% extends 'base.html.twig' %}
{% block title %}
    
{% endblock %}

{% block body %}
{# rel links for pagination #}

    <main class="container mt-5">
        <section class="row">
        {{ dump(products) }}
             {% for product in products %}
        <div class="col mb-4">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                   
                        <img src="{{ asset('assets/images/products/' ~ product.image.name)}}" class="d-block w-100 h-50"  alt="{{product.name}}">
                        
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{{path('products_details', {slug:product.slug})}}" class="btn btn-primary">voir les details</a>
                </div>
            </div>
        </div>
             {% endfor %}

        </section>

    </main>
      <div class="row m-auto custom-pagination">{{ knp_pagination_render(products) }}</div>
   
{% endblock %}