<aside class="border border-light bg-white p-2">
    
    <!-- ajouter une Categorie -->
    <article class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_categories_index')}}">liste des categories</a></p>
            <p><a href="">Ajouter une category</a></p>
        </div>
    </article>

    <!-- ajouter un produit -->
    <article class="card mb-3 ">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_products_index')}}">liste des Produits</a></p>
            <p><a href="{{path('admin_products_add')}}">Ajouter un produit</a></p>
        </div>
    </article>
    {# Details des commandes #}
    <article class="card mb-3">
        <div class="card-header">
            Commandes
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_orders_index')}}">liste des commandes</a></p>
        </div>
    </article>

    {# Details des utilisateurs #}
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_users_index')}}">liste des utilisateurs</a></p>
        </div>
    </article>
    
   
</aside>